<div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="row justify-content-center">
      <div class="col-4">
          <h1 class="h3 mb-3 font-weight-normal" > Detalhes Fornecedor </h1>
      </div>
      <div class="col-2">
          <button routerLink="/products" type='button' class='btn btn-info '>Voltar</button>
      </div>
    </div>

    <br>
    <table class="table col-md-6 mx-auto">
        <tr>
            <td>ID</td>
            <td>{{ details?.Id }}</td>
          </tr>
      <tr>
        <tr>
            <td>Name</td>
            <td>{{ details?.name }}</td>
          </tr>
      <tr>
        <td>Value</td>
        <td>{{ details?.value }}</td>
      </tr>
      <tr>
          <td>Description</td>
          <td>{{ details?.description }}</td>
        </tr>
      <tr>
        <td>Category</td>
        <td>{{ details?.category }}</td>
      </tr>
      <tr>
        <td>Manufacturer</td>
        <td>{{ details?.manufacturer }}</td>
      </tr>      
    </table>
  <br>
  <br>
  <br>
  <br>


</div>