.navbar-dark .navbar-nav .show>.nav-link {
  color: rgba(255, 255, 255, .5) !important;
}

tooltip {
  max-width: calc(50vw / 2 - 50px) !important;
}

html {
  scroll-behavior: smooth;
}


.fundo{
  color:#F0F0F0!important;
}

.fundo:active{
  color:#CCCCCC!important;
}

.card {
  transition: box-shadow .3s;
  max-height: 350px !important;
}

.card-deck .card {
  margin-left: 0px !important;
}

.card:hover {
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
  cursor: -webkit-grab; cursor: grab;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background: rgba(99, 97, 97, 0.2);
}

.prtidigital{
  background-color:#343a40!important;
}

