<br><br><br>
<div class="col-sm-8 mx-auto">
  <h1 class="text-center">Products List</h1>
</div>
<br>
<div class="text-right">

  <button routerLink="/products-create" type='button' class='btn btn-info'>Insert Record</button>
</div>
<br>
<table style="max-height: 100%!important;" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
  class="row-border hover cell-border">
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th>Description</th>
      <th>Category</th>
      <th>Manufacturer</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let detail of details">
      <td>{{ detail.name }}</td>
      <td>{{ detail.value }}</td>
      <td>{{ detail.category  }}</td>
      <td>{{ detail.description }}</td>
      <td>{{ detail.manufacturer }}</td>
      <td>
        <a routerLink="/products-details/{{detail.Id}}">
          <button type='button' class='btn btn-primary'>Details</button>
        </a> 
      </td>
      <td>
        <a routerLink="/products-edit/{{detail.Id}}">
          <button type='button' class='btn btn-success'>Edit</button>
        </a> 
      </td>
      <td>
        <a (click)="delete(detail.Id, detail.fornecedor)">
          <button type='button' class='btn btn-danger'>Delete</button>
        </a>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th>Description</th>
      <th>Category</th>
      <th>Quantity</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </tfoot>
</table>
<br>
<br>