<br><br><br>
<div class="container">

  <div class="row">
    <div class="col-md-6 mt-5 mx-auto">

        <form [formGroup]="registerForm" (ngSubmit)="empresasAlter(credentials)">
            <div class="row ">
              <div class="col-10">
                <h1 class="h3 mb-3 font-weight-normal float-left"> Edit Product </h1>
              </div>
              <div class="col-2">
                <button routerLink="/products" type='button' class='btn btn-info float-right'>Return</button>
    
              </div>
    
            </div>
    
            <div class="form-group">
              <label>Razão Social <span class="asterisco">*</span> :</label>
              <input type="text" placeholder="Entre com o Nome do Fornecedor" formControlName="name"
                class="form-control" [(ngModel)]="credentials.name"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Razão Social requerida!</div>
                <div *ngIf="f.name.errors.minlength">Razão Social inválida!</div>
                <div *ngIf="f.name.errors.pattern">Razão Social inválida!</div>
              </div>
            </div>

            <div class="form-group">
                <label>Nome Fantasia <span class="asterisco">*</span> :</label>
                <input type="text" placeholder="Entre com o Nome Fantasia " formControlName="value"
                  class="form-control" [(ngModel)]="credentials.value"
                  [ngClass]="{ 'is-invalid': submitted && f.value.errors }" />
                <div *ngIf="submitted && f.value.errors" class="invalid-feedback">
                  <div *ngIf="f.value.errors.required">Nome Fantasia requerido!</div>
                  <div *ngIf="f.value.errors.minlength">Nome Fantasia inválido!</div>
                  <div *ngIf="f.value.errors.pattern">Nome Fantasia inválido!</div>
                </div>
              </div>
    
            <div class="form-group">
                <label>CNPJ <span class="asterisco">*</span> :</label>
                <input type="text" mask="00.000.000/0000-00" placeholder="Entre com o CNPJ do Fornecedor" formControlName="category" class="form-control"
                  [(ngModel)]="credentials.category" [ngClass]="{ 'is-invalid': submitted && f.category.errors }" />
                <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
                  <div *ngIf="f.category.errors.required">CNPJ requerido!</div>
                  <div *ngIf="f.category.errors.minlength">CNPJ inválido!</div>
                  <div *ngIf="f.category.errors.pattern">CNPJ inválido!</div>
                </div>
              </div>
      
              <div class="form-group">
                <label>E-mail Principal <span class="asterisco">*</span> :</label>
                <input type="text" placeholder="Entre com o E-mail Principal" formControlName="description" class="form-control"
                  [(ngModel)]="credentials.description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                  <div *ngIf="f.description.errors.required">E-mail requerido!</div>
                  <div *ngIf="f.description.errors.minlength">E-mail inválido!</div>
                  <div *ngIf="f.description.errors.pattern">E-mail inválido!</div>
                </div>
              </div>

              <div class="form-group">
                  <label>E-mail Secundário <span class="asterisco">*</span> :</label>
                  <input type="text" placeholder="Entre com o E-mail Secundário " formControlName="manufacturer"
                    class="form-control" [(ngModel)]="credentials.manufacturer"
                    [ngClass]="{ 'is-invalid': submitted && f.manufacturer.errors }" />
                  <div *ngIf="submitted && f.manufacturer.errors" class="invalid-feedback">
                    <div *ngIf="f.manufacturer.errors.required">E-mail Secundário requerido!</div>
                    <div *ngIf="f.manufacturer.errors.minlength">E-mail Secundário inválido!</div>
                    <div *ngIf="f.manufacturer.errors.pattern">E-mail Secundário inválido!</div>
                  </div>
                </div>
      
            <button type="submit" class="btn btn-lg btn-primary btn-block">Save Changes</button>
          </form>

<br><br>
