<div class="container" data-toggle="collapse" data-target=".navbar-collapse.show">
  <br> <br> <br>

  <!-- BEGIN Empresas com Atividades de Risco Alto  -->

  <h1 class="text-center">E-commerce</h1>
  <br>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas congue risus ac velit laoreet vestibulum. Ut eleifend nec sapien a hendrerit. Nulla laoreet leo eget tempor rhoncus. Vestibulum a erat consequat diam blandit sagittis finibus ut leo. Nunc vel semper est, et scelerisque velit. Integer a augue id urna placerat consectetur eget eu lorem. Vivamus vestibulum vestibulum lacus, ac ultricies ligula molestie nec. Mauris risus mauris, lacinia a tortor sit amet, consectetur cursus magna. Ut eu ante velit. Pellentesque blandit volutpat orci, ut commodo ex faucibus finibus. Aliquam in diam vitae velit imperdiet venenatis. Phasellus id aliquam metus. Morbi feugiat erat velit, non eleifend mi pulvinar varius.
  </p>
  <p>
      Cras semper suscipit massa quis pellentesque. Proin molestie fringilla placerat. Phasellus ullamcorper vehicula quam. Sed sed nisl pellentesque, tincidunt purus eget, suscipit neque. Pellentesque imperdiet nulla lacus, eu facilisis nisi vulputate ac. Sed placerat elementum velit quis euismod. Sed aliquet tellus sit amet leo sodales suscipit.
  </p>
  <p>
      Fusce eleifend sollicitudin nunc et blandit. Curabitur egestas rutrum ligula, facilisis aliquet magna fringilla sit amet. Nunc purus tellus, convallis eu sem et, lobortis suscipit neque. Morbi convallis auctor sapien, non mattis mauris. Nullam nisi enim, gravida sed neque et, gravida pulvinar purus. Proin in tortor sed libero porttitor convallis. Praesent ut sapien quis quam laoreet elementum nec vitae mauris. Vivamus fermentum libero erat, ut fringilla arcu viverra at. Maecenas cursus tincidunt augue, placerat scelerisque neque dignissim at. Integer a nisl diam. Duis at ipsum quis urna malesuada tempus sit amet in nibh. Pellentesque gravida massa ante, nec suscipit purus fringilla ut. Fusce eu justo mollis, congue arcu sit amet, venenatis nunc.
  </p>
  <p>
      Nulla volutpat porttitor orci, non efficitur neque dictum id. Nulla tempor luctus libero, non porta nisi molestie vitae. Maecenas luctus diam et nisi accumsan, volutpat suscipit leo maximus. Sed sagittis et purus non maximus. Duis eros quam, dapibus et aliquam ut, ornare sit amet elit. Fusce eros nisl, finibus ut justo at, tempus porttitor nunc. Integer cursus tellus felis, nec convallis massa consectetur id. Nullam vehicula tincidunt nunc, ut maximus metus ultricies ut. Nulla in turpis vel felis sollicitudin sagittis auctor id urna. Nunc efficitur velit tristique porttitor semper. Donec pellentesque ex a ante hendrerit, quis ultricies magna tempor. Nullam condimentum id augue ut volutpat.Nulla volutpat porttitor orci, non efficitur neque dictum id. Nulla tempor luctus libero, non porta nisi molestie vitae. Maecenas luctus diam et nisi accumsan, volutpat suscipit leo maximus. Sed sagittis et purus non maximus. Duis eros quam, dapibus et aliquam ut, ornare sit amet elit. Fusce eros nisl, finibus ut justo at, tempus porttitor nunc. Integer cursus tellus felis, nec convallis massa consectetur id. Nullam vehicula tincidunt nunc, ut maximus metus ultricies ut. Nulla in turpis vel felis sollicitudin sagittis auctor id urna. Nunc efficitur velit tristique porttitor semper. Donec pellentesque ex a ante hendrerit, quis ultricies magna tempor. Nullam condimentum id augue ut volutpat.
  </p>
  <p>
      Sed facilisis faucibus finibus. Etiam a libero felis. Fusce eu dolor libero. Sed pretium interdum erat eget ullamcorper. Aliquam et facilisis elit. Nulla sit amet turpis ac felis consectetur vulputate. Duis ullamcorper risus eget hendrerit dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis tristique placerat fermentum. Nunc facilisis pretium accumsan.
  </p>
    <!-- BEGIN Row-->
  <div class="row col-12 card-deck text-center justify-content-center">



</div>
<br>
