<nav style="z-index: 10;" class="navbar navbar-expand-lg fixed-top navbar-dark prtidigital">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10"
    aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
    <ul class="navbar-nav">
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">

        <a class="nav-link fundo" routerLink="/">Home</a>
      </li>

    
      <li *ngIf="!auth.isLoggedIn()" class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link fundo" routerLink="/products-all">Products</a>
        </li>
     
      <li *ngIf="auth.isLoggedIn()" class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link fundo" routerLink="/products">Manage Products</a>
      </li>

      <li *ngIf="!auth.isLoggedIn()" class="nav-item">
          <a title="" class="nav-link fundo" routerLink="/register">Sign On</a>
        </li>

      <li *ngIf="!auth.isLoggedIn()" class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link fundo" routerLink="/login">Sign In</a>
        </li>

      <li *ngIf="auth.isLoggedIn()" class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link fundo" routerLink="/profile">{{ auth.getUserDetails()?.first_name }}</a>
      </li>

      <li *ngIf="auth.isLoggedIn()" class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link fundo" routerLink="" (click)="auth.logout()">Sign Out</a>
      </li>

    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
