<div class="container">
  <div class="row">
    <div class="col-md-6 mt-5 mx-auto">
      <br><br>
      <form (submit)="register()">
        <h1 class="h3 mb-3 font-weight-normal">Create Account</h1>
        <div class="form-group">
          <label for="name">First Name</label>
          <input type="text" class="form-control"  name="first_name" placeholder="Type your First Name" [(ngModel)]="credentials.first_name">
        </div>
        <div class="form-group">
          <label for="name">Last Name</label>
          <input type="text" class="form-control" name="last_name" placeholder="Type your Last Name" [(ngModel)]="credentials.last_name">
        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" class="form-control" name="email" placeholder="Type your E-mail" [(ngModel)]="credentials.email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Type your Password" [(ngModel)]="credentials.password">
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Create Account</button><br><br><br>
      </form>
    </div>
    
  </div>
</div>