<div class="container">
  <br>
  <br>
  <br>
  <div class="mt-5">
    <div class="col-sm-8 mx-auto">
      <h1 class="text-center">Account</h1>
    </div>
    <br>
    <table class="table col-md-6 mx-auto">
      <tr>
        <td>First Name</td>
        <td>{{ details?.first_name }}</td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td>{{ details?.last_name }}</td>
      </tr>
      <tr>
        <td>E-mail</td>
        <td>{{ details?.email }}</td>
      </tr>
      <tr>
          <td>Created</td>
          <td>{{ details?.created }}</td>
        </tr>
    </table>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>