<br><br><br>
<div class="container">

  <div class="row">
    <div class="col-md-6 mt-5 mx-auto">

      <form [formGroup]="registerForm" (ngSubmit)="productsCreate()">
        <div class="row ">
          <div class="col-10">
            <h1 class="h3 mb-3 font-weight-normal float-left"> Insert Record </h1>
          </div>
          <div class="col-2">
            <button routerLink="/products" type='button' class='btn btn-info float-right'>Return</button>
          </div>
        </div>

        <div class="form-group">
          <label>Name <span class="asterisco">*</span> :</label>
          <input type="text"  oninput="this.value = this.value.toUpperCase()" placeholder="Entre com a Razão Social " formControlName="name" class="form-control"
            [(ngModel)]="credentials.name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Razão Social required!</div>
            <div *ngIf="f.name.errors.minlength">Razão Social inválida!</div>
            <div *ngIf="f.name.errors.pattern">Razão Social inválida!</div>
          </div>
        </div>

        <div class="form-group">
          <label>Nome Fantasia <span class="asterisco">*</span> :</label>
          <input type="text"  oninput="this.value = this.value.toUpperCase()" placeholder="Entre com o Nome Fantasia " formControlName="value"
            class="form-control" [(ngModel)]="credentials.value"
            [ngClass]="{ 'is-invalid': submitted && f.value.errors }" />
          <div *ngIf="submitted && f.value.errors" class="invalid-feedback">
            <div *ngIf="f.value.errors.required">Nome Fantasia required!</div>
            <div *ngIf="f.value.errors.minlength">Nome Fantasia invalid!</div>
            <div *ngIf="f.value.errors.pattern">Nome Fantasia invalid!</div>
          </div>
        </div>

        <div class="form-group">
          <label>CNPJ <span class="asterisco">*</span> :</label>
          <input type="text" placeholder="Entre com o CNPJ " formControlName="category"
            class="form-control" [(ngModel)]="credentials.category"
            [ngClass]="{ 'is-invalid': submitted && f.category.errors }" />
          <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
            <div *ngIf="f.category.errors.required">CNPJ required!</div>
            <div *ngIf="f.category.errors.minlength">CNPJ invalid!</div>
            <div *ngIf="f.category.errors.pattern">CNPJ invalid!</div>
          </div>
        </div>

        <div class="form-group">
          <label>E-mail Principal <span class="asterisco">*</span> :</label>
          <input type="text"  oninput="this.value = this.value.toUpperCase()" placeholder="Entre com o E-mail " formControlName="description" class="form-control"
            [(ngModel)]="credentials.description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
          <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
            <div *ngIf="f.description.errors.required">E-mail required!</div>
            <div *ngIf="f.description.errors.minlength">E-mail invalid!</div>
            <div *ngIf="f.description.errors.pattern">E-mail invalid!</div>
          </div>
        </div>

        <div class="form-group">
          <label>E-mail Secundário <span class="asterisco">*</span> :</label>
          <input type="text" oninput="this.value = this.value.toUpperCase()" placeholder="Entre com o E-mail Secundário " formControlName="manufacturer" class="form-control"
            [(ngModel)]="credentials.manufacturer" [ngClass]="{ 'is-invalid': submitted && f.manufacturer.errors }" />
          <div *ngIf="submitted && f.manufacturer.errors" class="invalid-feedback">
            <div *ngIf="f.manufacturer.errors.required">E-mail Secundário required!</div>
            <div *ngIf="f.manufacturer.errors.minlength">E-mail Secundário invalid!</div>
            <div *ngIf="f.manufacturer.errors.pattern">E-mail Secundário invalid!</div>
          </div>
        </div>

        <button type="submit" class="btn btn-lg btn-primary btn-block">Insert Record</button>
      </form>
    </div>
  </div>
</div>
<br>
<br>
