<div class="container" data-toggle="collapse" data-target=".navbar-collapse.show">
  <br>
  <br>
  <br>
  <div class="row">

    <div class="col-md-6 mt-5 mx-auto">
      <div class="text-center">
        <a href="" target="_blank">
        <img src="https://i2.wp.com/grupoliberty.com.br/wp-content/uploads/2018/12/Untitled-1.png?fit=150%2C58&ssl=1"></a>
      </div>
      <br> <br>
      <form (submit)="login()">
          <br> <br>
        <h1 class="h3 mb-3 font-weight-normal">E-commerce Login</h1>
       
        <p class="text-danger"><strong> {{ message }}</strong></p>
        <div class="form-group">
          <label for="email">E-mail <span class="asterisco">*</span> :</label>
          <input type="email" class="form-control" name="email" placeholder="Your E-mail"
            [(ngModel)]="credentials.email">
        </div>
        <div class="form-group">
          <label for="password">Password <span class="asterisco">*</span> :</label>
          <input type="password" class="form-control" name="password" placeholder="Your Password"
            [(ngModel)]="credentials.password">
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
      </form>
      <br>
      <br>
    </div>
  </div>

  <br>
  <br>
  <br>
</div>
